<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<link rel="stylesheet" href="http://localhost:8000/assets/css/output.css">
<body>
    <div class="Register bg-slate-300 h-screen w-screen flex justify-center items-center">
        <div class="bg-white w-[350px] px-8 py-6 shadow-sm rounded-md">
            <h2 class="text-2xl text-center font-bold text-slate-700">Register</h2>
            <form action="" method="post">
                <div class="flex flex-col gap-1 mb-2">
                    <label for="name">
                        Name
                    </label>
                    <input class="px-3 py-2 bg-[#f9f9f9] outline-none border rounded-md focus:border-green-500" 
                    type="text" 
                    name="name" 
                    placeholder="Enter your name" 
                    id="name">
                </div>
                
                <div class="flex flex-col gap-1 mb-2">
                    <label for="email">
                        Email
                    </label>
                    <input class="px-3 py-2 bg-[#f9f9f9] outline-none border rounded-md focus:border-green-500" 
                    type="text" 
                    name="email" 
                    placeholder="Enter your email" 
                    id="email">
                </div>
                
                <div class="flex flex-col gap-1 mb-2">
                    <label for="password">
                        Password
                    </label>
                    <input class="px-3 py-2 bg-[#f9f9f9] outline-none border rounded-md focus:border-green-500" 
                    type="text" 
                    name="password" 
                    placeholder="Enter your password" 
                    id="password">
                </div>

                <div class="flex flex-col gap-1 mb-4">
                    <label for="image">
                        Image
                    </label>
                    <div class="border flex justify-between text text-slate-500 pl-2 items-center rounded-md bg-[#f9f9f9] outline-none overflow-hidden">
                        <span id="text">Choose your Image</span>
                        <label class="p-2 text-white cursor-pointer bg-blue-500" for="image">Browse</label>
                    </div>
                    <input class="hidden" type="file" name="image" id="image">
                </div>
                <button class="w-full px-6 py-2 rounded-md items-center bg-blue-500 text-white cursor-pointer hover:bg-blue-700">Register</button>
                <div id="alert" class="relative p-2 bg-red-500 rounded-sm my-2 text-white flex justify-between">
                    <p class="text-sm">Emaill already exists</p>
                    <span id="close" class= "cursor-pointer font-bold text-md">x</span>
                </div>
                <div class="w-full flex text-blue-600 mt-2 items-center justify-center">
                    <a href="/login">Login Account</a>
                </div>
            </form>
        </div>
    </div>

    <script>
        const close = document.getElementById('close')
        const alert = document.getElementById('alert')
        if (close && alert) {
            close.addEventListener('click' , () => {
                alert.classList.add('hidden')
            })
        }

        const image = document.getElementById('image')
        image.addEventListener('change' , e => {
            if(e.target.files.length > 0){
                const name = e.target.files[0].name
                console.log(e.target.files[0].name)
                const text = document.getElementById('text')
                text.textContent = name.slice(0,20) //changing the name of the span tag with the img name
            }
        })
    </script>
</body>
</html> 